.divtexto-manuais {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}


.textos-manuais {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
    line-height: 1.6;
}

.cabeçalho-imagem {
    background: #3498db;
    text-align: center;
    padding: 15px 0;
    float: left;
    height: 500px;
    width: 50%;

}

.cabeçalho-texto {
    background: #ff0000;
    text-align: center;
    padding: 15px 0;
    float: right;
    height: 500px;
    width: 50%;
}

.textos-inicio {
    background: #ffffff;
    text-align: center;
    justify-content: center;
    padding: 15px 0;
    top: 1000px;
}


.header h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}


.manual-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.manual-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/*cores*/
.left {
    background-color: #D6A86A;
    max-width: 300px;
}

.right {
    background-color: #D6A86A;
    color: rgb(0, 0, 0);
    max-width: 300px;
}

.left-alt {
    background-color: #D6A86A;
    max-width: 300px;
}



/* Responsividade */
@media (max-width: 768px) {
    .divtexto-manuais {
        margin: 20px;
        padding: 15px;
    }
    .header h1 {
        font-size: 1.5rem;
    }
}





