        .font{
            font-family: Fira Sans, sans-serif;;
            color: black;
        }

        .font2{

            font-family: Fira Sans, sans-serif;;
            color: rgb(255, 255, 255);
            
        }
        
   
      

   